Cotizador/WebContent/wsdl/solicitudAgricola.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://agricolaSucre.QBE.servicios.cotizador.qbe.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://agricolaSucre.QBE.servicios.cotizador.qbe.com" xmlns:intf="http://agricolaSucre.QBE.servicios.cotizador.qbe.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://agricolaSucre.QBE.servicios.cotizador.qbe.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="registrarEmision">
    <complexType>
     <sequence>
      <element name="in0" type="impl:emisionDTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="emisionDTO">
    <sequence>
     <element name="anexo" nillable="true" type="xsd:string"/>
     <element name="apellido1" nillable="true" type="xsd:string"/>
     <element name="apellido2" nillable="true" type="xsd:string"/>
     <element name="canton" nillable="true" type="xsd:string"/>
     <element name="cedula" nillable="true" type="xsd:string"/>
     <element name="codigoFacilitador" nillable="true" type="xsd:string"/>
     <element name="fechaEmision" nillable="true" type="xsd:string"/>
     <element name="fechaPago" nillable="true" type="xsd:string"/>
     <element name="fechaSiembra" nillable="true" type="xsd:string"/>
     <element name="inversion" nillable="true" type="xsd:string"/>
     <element name="lote" nillable="true" type="xsd:string"/>
     <element name="montoAsegurado" nillable="true" type="xsd:string"/>
     <element name="montoPago" type="xsd:float"/>
     <element name="nombres" nillable="true" type="xsd:string"/>
     <element name="numHectAseguradas" type="xsd:int"/>
     <element name="numHectFinanciadas" type="xsd:int"/>
     <element name="numeroFactura" nillable="true" type="xsd:string"/>
     <element name="numeroResolucion" nillable="true" type="xsd:string"/>
     <element name="ordenPago" nillable="true" type="xsd:string"/>
     <element name="parroquia" nillable="true" type="xsd:string"/>
     <element name="poliza" nillable="true" type="xsd:string"/>
     <element name="primaCalculada" type="xsd:float"/>
     <element name="provincia" nillable="true" type="xsd:string"/>
     <element name="recinto" nillable="true" type="xsd:string"/>
     <element name="referencia" nillable="true" type="xsd:string"/>
     <element name="terrenoTecnificado" nillable="true" type="xsd:string"/>
     <element name="variedad" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="registrarEmisionResponse">
    <complexType>
     <sequence>
      <element name="registrarEmisionReturn" type="impl:respuestaEMIDTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="respuestaEMIDTO">
    <sequence>
     <element name="estado" nillable="true" type="xsd:string"/>
     <element name="observacion" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="registrarSolicitud">
    <complexType>
     <sequence>
      <element name="in0" type="impl:solicitudUN01DTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="solicitudUN01DTO">
    <sequence>
     <element name="actividadEconomica" nillable="true" type="xsd:string"/>
     <element name="apellido1" nillable="true" type="xsd:string"/>
     <element name="apellido2" nillable="true" type="xsd:string"/>
     <element name="canton" nillable="true" type="xsd:string"/>
     <element name="cedula" nillable="true" type="xsd:string"/>
     <element name="celreferencia" nillable="true" type="xsd:string"/>
     <element name="codigoAgenciaOSucursal" nillable="true" type="xsd:string"/>
     <element name="codigoFacilitador" nillable="true" type="xsd:string"/>
     <element name="codigoVariedadCultivo" nillable="true" type="xsd:string"/>
     <element name="condicionPredio" nillable="true" type="xsd:string"/>
     <element name="condicionPredioOtra" nillable="true" type="xsd:string"/>
     <element name="costoEstablecimientoCultivo" nillable="true" type="xsd:string"/>
     <element name="costoMantenimientoCultivo" nillable="true" type="xsd:string"/>
     <element name="costoProduccion" nillable="true" type="xsd:string"/>
     <element name="direccionNacimiento" nillable="true" type="xsd:string"/>
     <element name="disponeRiego" nillable="true" type="xsd:string"/>
     <element name="emailContacto" nillable="true" type="xsd:string"/>
     <element name="estadoCivil" nillable="true" type="xsd:string"/>
     <element name="estadoSolicitud" nillable="true" type="xsd:string"/>
     <element name="fechaAprobacion" nillable="true" type="xsd:string"/>
     <element name="fechaNacimiento" nillable="true" type="xsd:string"/>
     <element name="fechaSiembra" nillable="true" type="xsd:string"/>
     <element name="fechaVencimientoCredito" nillable="true" type="xsd:string"/>
     <element name="fuenteIngreso" nillable="true" type="xsd:string"/>
     <element name="genero" nillable="true" type="xsd:string"/>
     <element name="ingresoAnual" nillable="true" type="xsd:string"/>
     <element name="inversion" type="xsd:int"/>
     <element name="latitud" nillable="true" type="xsd:string"/>
     <element name="longitud" nillable="true" type="xsd:string"/>
     <element name="lote" nillable="true" type="xsd:string"/>
     <element name="lugarNacimiento" nillable="true" type="xsd:string"/>
     <element name="montoRecomendado" nillable="true" type="xsd:string"/>
     <element name="nacionalidad" nillable="true" type="xsd:string"/>
     <element name="nombres" nillable="true" type="xsd:string"/>
     <element name="numHectAseguradas" type="xsd:int"/>
     <element name="numHectFinanciadas" type="xsd:int"/>
     <element name="numeroResolucion" nillable="true" type="xsd:string"/>
     <element name="otroRiego" nillable="true" type="xsd:string"/>
     <element name="paqueteTecnologico" nillable="true" type="xsd:string"/>
     <element name="parroquia" nillable="true" type="xsd:string"/>
     <element name="pep" nillable="true" type="xsd:string"/>
     <element name="provincia" nillable="true" type="xsd:string"/>
     <element name="recinto" nillable="true" type="xsd:string"/>
     <element name="referencia" nillable="true" type="xsd:string"/>
     <element name="telfreferencia" nillable="true" type="xsd:string"/>
     <element name="terrenoTecnificado" nillable="true" type="xsd:string"/>
     <element name="tipoCanal" nillable="true" type="xsd:string"/>
     <element name="tipoRiego" nillable="true" type="xsd:string"/>
     <element name="tipoSemilla" nillable="true" type="xsd:string"/>
     <element name="valorSubsidio" nillable="true" type="xsd:string"/>
     <element name="variedad" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="registrarSolicitudResponse">
    <complexType>
     <sequence>
      <element name="registrarSolicitudReturn" type="impl:respuestaUN01DTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="respuestaUN01DTO">
    <sequence>
     <element name="autorizacion" type="xsd:int"/>
     <element name="diferenciaMonto" nillable="true" type="xsd:string"/>
     <element name="estado" nillable="true" type="xsd:string"/>
     <element name="montoAprobadoQBE" type="xsd:float"/>
     <element name="montoRecomendadoQBE" type="xsd:float"/>
     <element name="observacion" nillable="true" type="xsd:string"/>
     <element name="prima" type="xsd:float"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="registrarEmisionRequest">

      <wsdl:part element="impl:registrarEmision" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarEmisionResponse">

      <wsdl:part element="impl:registrarEmisionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarSolicitudResponse">

      <wsdl:part element="impl:registrarSolicitudResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarSolicitudRequest">

      <wsdl:part element="impl:registrarSolicitud" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="solicitudAgricola">

      <wsdl:operation name="registrarEmision">

         <wsdl:input message="impl:registrarEmisionRequest" name="registrarEmisionRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarEmisionResponse" name="registrarEmisionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarSolicitud">

         <wsdl:input message="impl:registrarSolicitudRequest" name="registrarSolicitudRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarSolicitudResponse" name="registrarSolicitudResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="solicitudAgricolaSoapBinding" type="impl:solicitudAgricola">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="registrarEmision">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarEmisionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarEmisionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarSolicitud">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarSolicitudRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarSolicitudResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="solicitudAgricolaService">

      <wsdl:port binding="impl:solicitudAgricolaSoapBinding" name="solicitudAgricola">

         <wsdlsoap:address location="http://localhost:8080/CotizadorWeb/services/solicitudAgricola"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
